body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    line-height: 150%;
    background-color: rgb(239, 239, 239);
}

ul {
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: royalblue;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 42px 42px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}

li a:hover {
    background-color: darkgrey;
    color: black;
}

.active {
    background-color: #00134d;
}

@media screen and (max-width: 790px) {
    li {
        float: none;
        border-bottom: 1px solid white;
    }
    .homepris {
        padding-bottom: 30px;
    }
    .homeheader {
        line-height: 150%;
    }
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
    .speciesheader {
        line-height: 150%;
    }
    .homepris {
        margin-right: -30%;
        width: 120%;
    }
}

.homeboks {
    border: 2px solid black;
    display: table;
    width: 90%;
    margin: 4% 5% 5% 5%;
}

.homeheader {
    padding-left: 20px;
    text-align: center;
    padding-top: 20px;
    font-size: 35px;
}

.hometekst {
    padding-left: 40px;
    padding-top: 40px;
    font-size: 20px;
    line-height: 170%;
}

.homepris {
    font-size: 20px;
    line-height: 170%;
    float: right;
    padding-right: 30vh;
    border-left: 2px solid black;
    padding-left: 20px;
}

.contactheader {
    margin: 5vh;
    padding-top: 15px;
    font-size: 35px;
    padding-bottom: 40px;
}

.contacttekst {
    margin-left: 5vh;
    padding: 20px;
    border-left: 2px solid black;
    font-size: 20px;
    line-height: 180%;
    margin-bottom: 90px;
}

.speciesboks {
    border: 2px solid black;
    display: table;
    content: "";
    clear: both;
    width: 90%;
    margin: 4% 5% 5% 5%;
    padding: 40px;
}

.speciesheader {
    padding-bottom: 40px;
    font-size: 35px;
    text-align: center;
}

.bildetekst {
    font-size: 17px;
    line-height: 170%;
}

.pingvintittel {
    font-size: 25px;
}

.bildekilde {
    position: relative;
    font-size: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: royalblue;
    color: white;
    text-align: center;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

.row {margin: 0 -5px;}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    position: relative;
}

@media screen and (max-width: 1310px) {
    .column {
        width: 50%;
    }

    .card {
        margin: 30px;

    }

    @media screen and (max-width: 750px) {
        .column {
            width: 110%;
            display: block;
            margin-bottom: 20px;
            margin-top: -11vh;
            padding-top: 20px;
            margin-left: -20px;
        }
    }
}